@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-custom-gradient {
        background: rgb(240,239,244);
        background: radial-gradient(circle, rgba(240,239,244,1) 0%, rgba(241,241,244,1) 35%, rgba(208,255,245,1) 100%); 
    }
    .bg-custom-lines {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><line x1="0" y1="" x2="100" y2="100" stroke="lightgray" stroke-width="2"/><line x1="100" y1="0" x2="0" y2="100" stroke="lightgray" stroke-width="2"/></svg>');
    }
  }
   
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}